.consultation-bar {
  display: flex;
  padding-right: 50px;
  align-items: center;
  position: absolute;
  right: 0px;
  top: 3441px;
}
.consultation-content{
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.12), 0px 1px 4px 0px rgba(0, 0, 0, 0.08), 0px 0px 1px 0px rgba(0, 0, 0, 0.08);
}
.consultation{
  display: flex;
  padding: 16px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 99px;
  background: var(--White, #FFF);
}
.consulation-icon-bar{
  display: flex;
  padding: 16px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 99px;
  background: var(--White, #FFF);
}
.kakao-grp{
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 125.714px;
}
.kakao{
  display: flex;
  width: 60px;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.kakao-icon{
  width: 24.17px;
  height: 24.341px;
  flex-shrink: 0;
}
.kakao-text,.phone-text,.mail-text{
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  width: auto;
}
.kakao-text a{
  color: var(--Gray-70, #4D4D4D);

/* Body/M */
  font-family: HanwhaGothic;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 22.5px */
}
.phone-grp{
  display: flex;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 125.714px;
  background: var(--White, #FFF);
}
.phone{
  display: flex;
  width: 60px;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.phone-icon-container{
  display: flex;
  width: 24px;
  height: 24px;
  padding: 3px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.phone-icon{
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.phone-text a{
  color: var(--Gray-70, #4D4D4D);

  /* Body/M */
  font-family: HanwhaGothic;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 22.5px */
}
.mail-grp{
  display: flex;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 125.714px;
  background: var(--White, #FFF);
}
.mail{
  display: flex;
  width: 60px;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.mail-icon-container{
  display: flex;
  width: 24px;
  height: 24px;
  padding: 3px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.mail-icon{
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.mail.text a{
  color: var(--Gray-70, #4D4D4D);

  /* Body/M */
  font-family: HanwhaGothic;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 22.5px */
}
hr{
  width: 82px;
  height: 1px;
  background: #E6E6E6;
}
.yes-grp{
  display: flex;
  padding: 8px 0px 0px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  background: #FFF;
}
.yes{
  display: flex;
  width: 66px;
  height: 66px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
}
.yes-icon-container{
  display: flex;
  padding: 5px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
.yes-icon{
  width: 61.551px;
  height: 13.78px;
  aspect-ratio: 61.55/13.78;
}
.yes-title{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.yes-title a{
  color: var(--Gray-50, #808080);

  /* Body/S */
  font-family: HanwhaGothic;
  font-size: 13px;
  font-style: normal;
  font-weight: 250;
  line-height: 150%; /* 19.5px */
}
.floating-container {
  display: none;
}
@media (max-width: 768px) {
  .consultation-bar{
    display: none;
    position: fixed;
    right: 250px;
    top: 150px;
  }
  .show{
    display: block;
  }
  .floating-container {
    display: flex;
    height: 740px;
    padding: 80px 0px;
    align-items: flex-start;
    position: absolute;
    right: 0px;
    padding: 0;
    margin: 0;
    z-index: 1000;
    top:100px;
  }
  .floating{
    display: flex;
    align-items: flex-start;
  }
  .floating-grp{
    display: flex;
    height: 390px;
    padding: 24px 0px;
    align-items: flex-start;
    gap: 10px;
  }
  .float-container {
    display: flex;
    padding: 19.309px 0px 19.309px 0.001px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px 0px 0px 8px;
    background: #F60;

/* Shadow/Normal */
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12), 0px 0px 1px 0px rgba(0, 0, 0, 0.08), 0px 0px 1px 0px rgba(0, 0, 0, 0.08);
  }
  .float-icon-container{
    display: flex;
    padding: 3.963px;
    justify-content: center;
    align-items: center;
  }
  .floating-icon{
    width: 13.458px;
    height: 8.074px;
    fill: var(--White, #FFF);
  }
  .consultation-close {
    display: block;
    position: absolute;
    top: 8px;
    right: 12px;
    background: none;
    border: none;
    font-size: 2rem;
    color: #888;
    cursor: pointer;
    z-index: 2;
    outline: none;
    box-shadow: none;
  }
}
@media (max-width: 480px) {
  .consultation-bar{
    display: none;
    position: fixed;
    right: -15px;
    top: 150px;
  }
  .show{
    display: block;
  }
}
